# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Ignora il file con la password
backend/.env
.env

# Ignora ambienti virtuali Python locali
backend/venv/
venv/
.venv/

# Ignora file inutili di Python
__pycache__/
*.pyc
.pycache_test/

# Ignora file di sistema
.DS_Store
Thumbs.db

# Ignora cartelle pesanti (se usi Angular/Node)
node_modules/

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
