<nav class="main-navbar">
    <div class="container">
        <ul class="nav-menu">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link">ATENEO</a>
                <div class="dropdown-menu">
                    <div class="container">
                        <div class="dropdown-content">
                            <div class="dropdown-column">
                                <h3>CHI SIAMO</h3>
                                <ul>
                                    <li><a href="#">Il Sigillo del Politecnico</a></li>
                                    <li><a href="#">Storia</a></li>
                                    <li><a href="#">Rettore</a></li>
                                    <li><a href="#">Direttore Generale</a></li>
                                    <li><a href="#">Piano Strategico</a></li>
                                    <li><a href="#">Politiche di genere</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>ATENEO IN CIFRE</h3>
                                <ul>
                                    <li><a href="#">Ateneo in cifre</a></li>
                                </ul>
                                <h3>SEDI E MAPPE</h3>
                                <ul>
                                    <li><a href="#">Bari - Campus</a></li>
                                    <li><a href="#">Bari - Servizi Amministrativi</a></li>
                                    <li><a href="#">Bari - Sede Japigia</a></li>
                                    <li><a href="#">Taranto</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>ORGANI DI ATENEO</h3>
                                <ul>
                                    <li><a href="#">Senato Accademico</a></li>
                                    <li><a href="#">Consiglio di Amministrazione</a></li>
                                    <li><a href="#">Nucleo di Valutazione</a></li>
                                    <li><a href="#">Collegio dei Revisori dei Conti</a></li>
                                    <li><a href="#">Garante degli Studenti</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>STATUTO E REGOLAMENTI</h3>
                                <ul>
                                    <li><a href="#">Statuto</a></li>
                                    <li><a href="#">Regolamenti</a></li>
                                </ul>
                                <h3>ELEZIONI</h3>
                                <ul>
                                    <li><a href="#">Elezioni</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link">DIDATTICA</a>
                <div class="dropdown-menu">
                    <div class="container">
                        <div class="dropdown-content">
                            <div class="dropdown-column">
                                <h3>OFFERTA FORMATIVA</h3>
                                <ul>
                                    <li><a href="#">Offerta Formativa</a></li>
                                    <li><a href="#">Cruscotto della Didattica</a></li>
                                    <li><a href="#">Calendario Anno Accademico</a></li>
                                    <li><a href="#">Orari delle Lezioni</a></li>
                                    <li><a href="#">Iscrizione corsi MS Teams</a></li>
                                    <li><a href="#">Sedute di Laurea</a></li>
                                </ul>
                                <h3>ORIENTAMENTO</h3>
                                <ul>
                                    <li><a href="#">Home Orientamento</a></li>
                                    <li><a href="#">Come Scegliere</a></li>
                                    <li><a href="#">Come Iscriversi</a></li>
                                    <li><a href="#">Perché Poliba</a></li>
                                    <li><a href="#">Contatti</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>BORSE DI STUDIO E OPPORTUNITÀ</h3>
                                <ul>
                                    <li><a href="#">Borse di Studio</a></li>
                                    <li><a href="#">Opportunità Enti Esterni</a></li>
                                    <li><a href="#">Tutorato</a></li>
                                    <li><a href="#">Attività Collaborazione</a></li>
                                    <li><a href="#">Tirocini</a></li>
                                    <li><a href="#">Placement</a></li>
                                    <li><a href="#">Erasmus Italiano</a></li>
                                    <li><a href="#">Unicore</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>SERVIZI DI SEGRETERIA</h3>
                                <ul>
                                    <li><a href="#">Ammissioni</a></li>
                                    <li><a href="#">Immatricolazioni</a></li>
                                    <li><a href="#">Iscrizioni</a></li>
                                    <li><a href="#">Trasferimenti e Passaggi</a></li>
                                    <li><a href="#">Procedure per la Laurea</a></li>
                                    <li><a href="#">Certificati</a></li>
                                    <li><a href="#">Tasse</a></li>
                                    <li><a href="#">Pratiche Studenti</a></li>
                                    <li><a href="#">Modulistica</a></li>
                                    <li><a href="#">Ticket Studenti</a></li>
                                    <li><a href="#">Accesso Esse3</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>LINGUE STRANIERE</h3>
                                <ul>
                                    <li><a href="#">Centro Linguistico</a></li>
                                </ul>
                                <h3>ESAMI DI STATO</h3>
                                <ul>
                                    <li><a href="#">Informazioni Generali</a></li>
                                    <li><a href="#">Calendario e Risultati</a></li>
                                    <li><a href="#">Iscrizione</a></li>
                                    <li><a href="#">Professioni</a></li>
                                    <li><a href="#">Modulistica</a></li>
                                    <li><a href="#">Tracce d'esame</a></li>
                                    <li><a href="#">Abilitati</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link">RICERCA</a>
                <div class="dropdown-menu">
                    <div class="container">
                        <div class="dropdown-content">
                            <div class="dropdown-column">
                                <h3>CENTRI E LABORATORI</h3>
                                <ul>
                                    <li><a href="#">Digilab</a></li>
                                    <li><a href="#">TTEC - Taranto Politecnico</a></li>
                                    <li><a href="#">Centro Eccellenza Meccanica Comp.</a></li>
                                    <li><a href="#">Reti di Laboratori</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>OPPORTUNITÀ</h3>
                                <ul>
                                    <li><a href="#">Dottorati di Ricerca</a></li>
                                    <li><a href="#">Assegni di Ricerca</a></li>
                                    <li><a href="#">Progetti di Ricerca</a></li>
                                    <li><a href="#">Premio alla Ricerca</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>INTERNAZIONALE</h3>
                                <ul>
                                    <li><a href="#">Bandi</a></li>
                                    <li><a href="#">Studiare all'estero</a></li>
                                    <li><a href="#">Accordi e Network</a></li>
                                    <li><a href="#">Insegnare all'estero</a></li>
                                    <li><a href="#">Studying@Poliba</a></li>
                                    <li><a href="#">Teaching@Poliba</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">TERZA MISSIONE</a></li>
            <li class="nav-item"><a href="#" class="nav-link">STUDENTI</a></li>
            <li class="nav-item"><a href="#" class="nav-link">SERVIZI</a></li>
        </ul>
    </div>
</nav>