<nav class="main-navbar">
    <div class="container">
        <ul class="nav-menu">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link">ATENEO</a>
                <div class="dropdown-menu">
                    <div class="container">
                        <div class="dropdown-content">
                            <div class="dropdown-column">
                                <h3>CHI SIAMO</h3>
                                <ul>
                                    <li><a href="#">Il Sigillo del Politecnico</a></li>
                                    <li><a href="#">Storia</a></li>
                                    <li><a href="#">Rettore</a></li>
                                    <li><a href="#">Direttore Generale</a></li>
                                    <li><a href="#">Piano Strategico</a></li>
                                    <li><a href="#">Politiche di genere</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>ATENEO IN CIFRE</h3>
                                <ul>
                                    <li><a href="#">Ateneo in cifre</a></li>
                                </ul>
                                <h3>SEDI E MAPPE</h3>
                                <ul>
                                    <li><a href="#">Bari - Campus</a></li>
                                    <li><a href="#">Bari - Servizi Amministrativi</a></li>
                                    <li><a href="#">Bari - Sede Japigia</a></li>
                                    <li><a href="#">Taranto</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>ORGANI DI ATENEO</h3>
                                <ul>
                                    <li><a href="#">Senato Accademico</a></li>
                                    <li><a href="#">Consiglio di Amministrazione</a></li>
                                    <li><a href="#">Nucleo di Valutazione</a></li>
                                    <li><a href="#">Collegio dei Revisori dei Conti</a></li>
                                    <li><a href="#">Garante degli Studenti</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-column">
                                <h3>STATUTO E REGOLAMENTI</h3>
                                <ul>
                                    <li><a href="#">Statuto</a></li>
                                    <li><a href="#">Regolamenti</a></li>
                                </ul>
                                <h3>ELEZIONI</h3>
                                <ul>
                                    <li><a href="#">Elezioni</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">DIDATTICA</a></li>
            <li class="nav-item"><a href="#" class="nav-link">RICERCA</a></li>
            <li class="nav-item"><a href="#" class="nav-link">TERZA MISSIONE</a></li>
            <li class="nav-item"><a href="#" class="nav-link">STUDENTI</a></li>
            <li class="nav-item"><a href="#" class="nav-link">SERVIZI</a></li>
        </ul>
    </div>
</nav>